.header {
    background-image: url(https://i.pinimg.com/originals/73/11/55/7311555b079d39dfd672b26e0d542a34.png);
    background-position: right;
    background-repeat: no-repeat;
    padding: 100px;
  }
  body{
    background-image: url(https://hacktiv8.com/assets/img/ogdefault.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  .h1 {
    padding: 20px;
  }
  .column {
    margin:auto;
    width: 33.33%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.nav {
    overflow: hidden;
    background-color: #333;
  }
.nav a {
    float: left;
    display: block;
    color: cyan;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .nav a:hover {
    background-color: black;
    color: white;
  }
body{
    border-radius: 10px;
    text-align-last: middle;
}
iframe{
    display: block;
    margin: auto;
}